{% extends "templates/web.html" %}
{% block content %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Website Development</title>

    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/unicons.css">
    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/owl.theme.default.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/tooplate-style.css">

<!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
  </head>
  <body>

    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">eLearning Platform based on <span class="mobile-block"> Moodle!</span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">LMS </span>
                                <div class="animated-info">
                                    <span class="animated-item">Solution</span>
                                    <span class="animated-item">Software Development</span>
                                    <span class="animated-item">Content Development</span>
                                </div>
                        </h1>

                        <p><h2>Online Learning Platform</h2>
                            We create and manage state of art e-learning platforms that are not only based on client’s satisfaction but are also aimed towards making teaching and learning an easy and effective process.</p>

                        <div class="custom-btn-group mt-4">
                          <a href="#" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i>Pricing</a>
                          <a href="/contact" class="btn custom-btn custom-btn-bg custom-btn-link">Get a free quote</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="/assets/avt_app/avt-detail-p-assets/images/lms.svg" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- PROJECTS -->
    <section class="project py-5" id="project">
        <div class="container">

                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      <div class="col-lg-8 mx-auto">
                        <h2>You come with an idea for e-learning, we will make it a reality!</h2>
                      <p>Our passionate team always eye on client’s unique requirements and with precision and accuracy delivers the desired result.</p>
                      </div>

                      <div class="owl-carousel owl-theme">
                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image01.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image02.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image03.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image04.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image05.png" class="img-fluid" alt="project image">
                          </div>
                        </div>
                      </div>

                  </div>
                </div>
        </div>
    </section>



    <script src="/assets/avt_app/avt-detail-p-assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/popper.min.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/bootstrap.min.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/Headroom.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/jQuery.headroom.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/owl.carousel.min.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/smoothscroll.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/custom.js"></script>

{% endblock %}
