{% extends "templates/web.html" %}
{% block content %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Website Development</title>

    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/unicons.css">
    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/owl.theme.default.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/tooplate-style.css">

<!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
  </head>
  <body>

    <!-- MENU
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.html"><i class='uil uil-user'></i> Marvel</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link"><span data-hover="About">About</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
                    </li>
                </ul>
-->
    <!-- color mode darkmode ---
                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Color mode
                      </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

     ABOUT -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">Web Design &<span class="mobile-block"> Development!</span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">Website </span>
                                <div class="animated-info">
                                    <span class="animated-item">Development</span>
                                    <span class="animated-item">Hosting</span>
                                    <span class="animated-item">UI Design</span>
                                </div>
                        </h1>

                        <p>Client-focused, customer-centric, creating website solutions that deliver tangible business results, AV Tutotring's web developers helps brands the ever-changing digital landscape.</p>
                            <span>Building a successful product is a challenge. I am highly energetic in user experience design, interfaces and web development.</span>
                        <div class="custom-btn-group mt-4">
                          <a href="#" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i>Pricing</a>
                          <a href="/contact" class="btn custom-btn custom-btn-bg custom-btn-link">Get a free quote</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="/assets/avt_app/avt-detail-p-assets/images/web-dev.svg" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- PROJECTS -->
    <section class="project py-5" id="project">
        <div class="container">

                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      <div class="col-lg-8 mx-auto">
                        <h2>AV Tutoring specializes in website design and development services. Our web experiences are high-performing, feature-packed and digitally transformative, designed to be user-friendly, fully functional, very secure and able to scale as your enterprise grows. </h2>
                      <p>Our website developers provide expert web application development and web design services to our clients. AV Tutotring offers a variety of website design and development services, from creating mobile web development solutions and responsive website designs, to building custom e-commerce and intranet experiences using the latest and proven web technologies. With up to 85% of consumers visiting company’s or service provider’s website before making a purchase, more and more consumers make decisions based on their online experience: the appearance, usability and accessibility of your website is more important than ever, especially in an increasingly competitive market.</p>
                      </div>

                      <div class="owl-carousel owl-theme">
                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image01.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image02.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image03.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image04.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image05.png" class="img-fluid" alt="project image">
                          </div>
                        </div>
                      </div>

                  </div>
                </div>
        </div>
    </section>

    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4">View Related Web Development Services & Solutions</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
<div class="timeline-yr">
                                <span>1</span>
                            </div>
                             <div class="timeline-info">
                                  <h3><span>Website Development</span><small>UI</small></h3>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
<div class="timeline-yr">
                                <span>2</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Website Design & Re-design</h3>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>3</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>UI Freelancer</h3>
                                <p>Sed fringilla vitae enim sit amet cursus. Sed cursus dictum tortor quis pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>4</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Junior Designer<small>Crafted Co.</small></h3>
                                <p>Cras scelerisque scelerisque condimentum. Nullam at volutpat mi. Nunc auctor ipsum eget magna consequat viverra.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4 mobile-mt-2">Educations</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2017</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>Mobile Web</span><small>Master Design</small></h3>
                                  <p>Please tell your friends about Tooplate website. That would be very helpful. We need your support.</p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2015</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>User Interfaces</span><small>Creative Agency</small></h3>
                                <p><a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a> is a great website to download HTML templates without any login or email.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2013</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Artwork Design</span><small>New Art School</small></h3>
                                <p>You can freely use Tooplate's templates for your business or personal sites. You cannot redistribute this template without a permission.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>





    <script src="/assets/avt_app/avt-detail-p-assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/popper.min.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/bootstrap.min.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/Headroom.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/jQuery.headroom.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/owl.carousel.min.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/smoothscroll.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/custom.js"></script>

{% endblock %}
