{% extends "templates/web.html" %}
{% block content %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Website Development</title>

    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/unicons.css">
    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/owl.theme.default.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="/assets/avt_app/avt-detail-p-assets/css/tooplate-style.css">

<!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
  </head>
  <body>

    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">Web Hosting &<span class="mobile-block"> Database!</span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">Web </span>
                                <div class="animated-info">
                                    <span class="animated-item">Hosting</span>
                                    <span class="animated-item">Database</span>
                                    <span class="animated-item">Support</span>
                                </div>
                        </h1>

                        <p>Being one of the top web hosting service providers in India, we promise in providing the right platform to run your website. We do provide such platforms ensuring better bandwidth, high security; also allocate space required for your website to save the contents. We facilitate Linux hosting which enables your website to run very smoothly in the highly secured platform and provides higher experience. Also, we understand that gaining customer trust is very difficult so we also provide free web hosting for the first 10 days in order to gain your trust.</p>

                        <div class="custom-btn-group mt-4">
                          <a href="#" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i>Pricing</a>
                          <a href="/contact" class="btn custom-btn custom-btn-bg custom-btn-link">Get a free quote</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="/assets/avt_app/avt-detail-p-assets/images/hosting.svg" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- PROJECTS -->
    <section class="project py-5" id="project">
        <div class="container">

                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      <div class="col-lg-8 mx-auto">
                        <h2>AV Tutotring specializes in website design and development services. Our web experiences are high-performing, feature-packed and digitally transformative, designed to be user-friendly, fully functional, very secure and able to scale as your enterprise grows. </h2>
                      <p>Our website developers provide expert web application development and web design services to our clients. AV Tutotring offers a variety of website design and development services, from creating mobile web development solutions and responsive website designs, to building custom e-commerce and intranet experiences using the latest and proven web technologies. With up to 85% of consumers visiting company’s or service provider’s website before making a purchase, more and more consumers make decisions based on their online experience: the appearance, usability and accessibility of your website is more important than ever, especially in an increasingly competitive market.</p>
                      </div>

                      <div class="owl-carousel owl-theme">
                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image01.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image02.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image03.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image04.png" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="/assets/avt_app/avt-detail-p-assets/images/project/project-image05.png" class="img-fluid" alt="project image">
                          </div>
                        </div>
                      </div>

                  </div>
                </div>
        </div>
    </section>



    <script src="/assets/avt_app/avt-detail-p-assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/popper.min.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/bootstrap.min.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/Headroom.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/jQuery.headroom.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/owl.carousel.min.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/smoothscroll.js"></script>
    <script src="/assets/avt_app/avt-detail-p-assets/js/custom.js"></script>

{% endblock %}
